<h1>{{this.name}}</h1>
<form action="/{{this.id}}?_method=put" method="post" accept-charset="utf-8">

<input type="button" value="-"> <p>{{this.pounds}}</p><button class="increase">+</button></br>
<button class="decrease">-</button><p>{{this.reps}}</p><button class="increase">+</button>
<input type="number" value="{{this.pounds}}">
<input type="submit" value="Update">

</form>
{{#each workout}}
{{pounds}}
{{reps}}
{{/each}}
<a href="/">Back</a>