

<h1>{{workout.name}}</h1>


<form action="/{{workout.id}}" method="post" accept-charset="utf-8">
<input type="number" value="{{workout.pounds}}" name="pounds" id="text1">

<input type="number" value="{{workout.reps}}" name="reps" id="text2">

<input type="submit" value="pounds" class="button" id="pounds">



<input type="submit" value="reps" class="button" id="reps">

</form>





<h2>Planned weight: {{workout.pounds}} lbs</h2>
<h2>Planned amount: {{workout.reps}} reps</h2>

<a href="/">Back</a>